.coinbody__container {
    position: relative;
    height: 80vh;
    flex: 1;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    border: 2px solid black;
    border-radius: 25px;
    margin: 10px 10vw;


    /* background-color: black; */
    background-image: url('../../../assets/wood3dbrev.jpg');
    background-size: cover;
    /* opacity: .9; */
}

.coinbody__container-history {
    position: absolute;
    right: 0;
    top: 44%;

    display: flex;
    justify-content: center;
    align-items: center;


    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: black;
    color: #fff;

    padding: 12px;;

    font-size: 1.5em;

    cursor: pointer;
/* 
    border: 1px solid white; */
}

.coinbody__container-history_text {
    padding-right: 12px;
}


/* Left Panel Styles (Current Table, Bet Submit, Change Player) */
.coinbody__container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    /* border: 1px solid black; */
}

.coinbody__container-left_current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-top: 80px;
    margin-bottom: 30px;
    min-height: 100px;
    height: 100px;
    max-width: 350px;

    background-color: rgb(251, 221, 184);
    
    background-image: url('../../../assets/cardboard.png');

    border: 1px solid black;
    border-radius: 3px;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
box-shadow: -3px 2px 15px 1px rgba(0,0,0,0.8);

}

.coinbody__container-left_current-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.coinbody__container-left_current-item h3 {
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
    padding-left: 5px;
}

.coinbody__container-left_btns{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.coinbody__container-left_bet {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.coinbody__container-left_btn{
    width: 190px;
    height: 80px;
    font-size: 1.5rem;

    cursor: pointer;
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: #fff;
}


/* Right Panel Styles */
.coinbody__container-right {
    flex: 1;
    display: flex;
    justify-content: center;
    
    /* background-color: gold; */
    /* border: 2px solid black; */
    /* min-width: 350px;
    max-height: 80px; */
}

.coinbody__container-right h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
    padding: 0 10px 0 10px;

    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
    background-color: rgb(251, 221, 184);
    background-image: url('../../../assets/cardboard.png');

    border: 1px solid black;
    border-radius: 3px;

    max-height: 50px;

    -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.8); 
box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.8);
    
}

/* center styles */

.coinbody__container-center{
    /* position: relative; */
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-width: 50%; */
}

.coinbody__container-center_coin {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
     color: #fff;
     
}

.coinbody__container-center_coin-button {
    background: none;
    border-radius: 100%;
    border: none;

    cursor: pointer;
    
}

.coinbody__container-center_coin-button img{
    width: 450px;
    height: 450px;
    object-fit: contain;
    
}

.coinbody__container-center_coin div {
    font-size: 1.25em;
    margin-top: 10px;;
}

.coinbody__container-center_text {
    background-color: rgb(130, 115, 115);
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    opacity: .8;
    color: #fff;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
}



.coinbody__outcome {
    font-size: 2em;



    position: absolute;
    top: 38%;
    left: 38%;
    
    /* width: 25%; */
 
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;


    background-color: rgb(251, 221, 184);
    background-image: url('../../../assets/cardboard.png');

    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
    box-shadow: -3px 2px 15px 1px rgba(0,0,0,0.8);

}