.coinbody__container {
    position: relative;
    height: 80vh;
    flex: 1;
    flex-wrap: wrap;
}

.coinbody__container-current {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.coinbody__container-current_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.coinbody__container-body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.coinbody__container-body_coin {

}

.coinbody__container-body_coin img{
    width: 100px;
    height: 100px;
    object-fit: contain;

}

.coinbody__container-body_bet {
    position: absolute;
    bottom: 0;
    width: 80%;
    

}

.coinbody__container-body_bet-btn{
    width: 100%;
    height: 80px;

    font-size: 1.5rem;

    background-color: rgb(208, 36, 70);
}