.coinbody__container {
    position: relative;
    height: 80vh;
    flex: 1;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    border: 2px solid black;
    border-radius: 25px;
    margin: 10px 10vw;


    /* background-color: black; */
    background-image: url('../../../assets/wood3dbrev.jpg');
    background-size: cover;
    /* opacity: .9; */
}

.coinbody__container-history {
    position: absolute;
    right: 0;
    top: 44%;

    display: flex;
    justify-content: center;
    align-items: center;


    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: black;
    color: #fff;

    padding: 12px;;

    font-size: 1.5em;

    cursor: pointer;

    border: 1px solid white;
}

.coinbody__container-history_text {
    padding-right: 12px;
}


/* Left Panel Styles (Current Table, Bet Submit, Change Player) */
.coinbody__container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.coinbody__container-left_current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-top: 80px;
    margin-bottom: 30px;
    min-height: 100px;
    /* height: 100px; */
    max-width: 450px;
    
    background-color: rgb(251, 221, 184);
    
    background-image: url('../../../assets/cardboard.png');

    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
    box-shadow: -3px 2px 15px 1px rgba(0,0,0,0.8);

}

.coinbody__container-left_current-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 22px 4px 4px;
}

.coinbody__container-left_current-item h3 {
    font-size: 1.5em;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
    padding-left: 5px;
}

.coinbody__container-left_btns{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.coinbody__container-left_bet {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.coinbody__container-left_btn{
    width: 190px;
    height: 80px;
    font-size: 1.5rem;

    cursor: pointer;
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: #fff;
}


/* Right Panel Styles */
.coinbody__container-right {
    flex: 1;
    display: flex;
    justify-content: center;
    
    /* background-color: gold; */
    /* border: 2px solid black; */
    /* min-width: 350px;
    max-height: 80px; */
}

.coinbody__container-right h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
    padding: 20px 10px 20px 10px;

    font-size: 1.5em;
        font-weight: 800;
    text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
    background-color: rgb(251, 221, 184);
    background-image: url('../../../assets/cardboard.png');

    border: 2px solid black;
    border-radius: 3px;
    height: fit-content;
    max-height: 150px;

    -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.8); 
box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.8);
    
}

/* center styles */

.coinbody__container-center{
    /* position: relative; */
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-width: 50%; */
}

.coinbody__container-center_coin {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
     color: #fff;
     
}

.coinbody__container-center_coin-button {
    background: none;
    border-radius: 100%;
    border: none;

    cursor: pointer;
    
}

.coinbody__container-center_coin-button img{
    width: 450px;
    height: 450px;
    object-fit: contain;
    
}

.coinbody__container-center_coin div {
    font-size: 1.25em;
    margin-top: 10px;;
}

.coinbody__container-center_text {
    background-color: rgb(130, 115, 115);
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    opacity: .9;
    color: #fff;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
}



.coinbody__outcome {
    font-size: 2em;



    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width:fit-content;
 
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;


    background-color: rgb(251, 221, 184);
    background-image: url('../../../assets/cardboard.png');

    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
    box-shadow: -3px 2px 15px 1px rgba(0,0,0,0.8);

      text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
}

.coinbody__outcome-button {
    font-size: .5em;

    margin: 12px 0px 4px 0px;

    padding: 4px 8px;

    border: 1px solid black;
    border-radius: 4px;

    -webkit-box-shadow: -3px 1px 2px 1px rgba(0,0,0,0.8); 
    box-shadow: 0px 1px 3px 1px rgba(71, 71, 71, 0.8);

  
}


/* Medium Size laptops  */
@media screen and (max-width: 1200px) {

    /* left */

    .coinbody__container-left_current{
        margin-left: 8px;
    }
.coinbody__container-left_current h3 {
    font-size: 1.2em;

}

.coinbody__container-left_btn{
    width: 150px;
    height: 80px;
    font-size: 1.2em;
    padding: 0px 2px;
    text-align: center;

    cursor: pointer;
}

/* center */


.coinbody__container-center_coin div {
    font-size: 1.2em;
}

.coinbody__container-center_text {
    font-size: 1.2em;
}


/* right */
.coinbody__container-right h3 {
    font-size: 1.2em;
    margin-right: 8px;
}

.coinbody__container-history {
    font-size: 1.4em;
}

.coinbody__outcome  {
    font-size: 1.8em;
}

}




/* Smaller laptop/large tablet */

/* decrease the font size, the button size, and the coint size. 
decrease font size and properly center outcome and bet modals */
@media screen and (max-width: 980px) {

    /* left */
.coinbody__container-left_current {
    /* margin-top: 80px;
    margin-bottom: 30px;
    min-height: 100px;
    max-width: 350px; */

    margin-left: 25px;
}

.coinbody__container-left_current h3 {
    font-size: .9em;
}

.coinbody__container-left_btn{
    width: 120px;
    height: 80px;
    font-size: .9em;
    padding: 0px 2px;
    text-align: center;

    cursor: pointer;
}

/* center */

.coinbody__container-center_coin-button img{
    width: 350px;
    height: 350px;
    /* object-fit: contain; */
    
}

.coinbody__container-center_coin div {
    font-size: .9em;
}

.coinbody__container-center_text {
    font-size: .9em;
}


/* right */
.coinbody__container-right h3 {
    font-size: 1em;
    
}

.coinbody__container-history {
    font-size: 1.2em;
}

.coinbody__outcome  {
    font-size: 1.5em;
}

}


/* tablets */

@media screen and (max-width: 768px) {

    .coinbody__container{
        flex-direction: column-reverse;
        justify-content: center;

    }


/* left */
    .coinbody__container-left_current {
      margin: 0px;
      margin-bottom: 30px;
      width: 50%;
      justify-content: center;
      align-items: center;
    }

    .coinbody__container-left_current h3 {
        /* font-size: .7em; */
    }

    .coinbody__container-left_btns{
        flex-direction: row;
    }

    .coinbody__container-left_btn{
        height: 60px;
        font-size: 1em;
    }

    
.coinbody__container-history {
    right: 0;
    top: 44%;

    padding: 12px;

    font-size: 1em;
}

.coinbody__container-history_text {
    padding-right: 4px;
}

    /* center */

    .coinbody__container-center_coin-button img{
        width: 325px;
        height: 325px;
    }

    .coinbody__container-center_coin div {
        font-size: .8em;
    }

    /* right */
    .coinbody__container-right h3 {

        margin: 0;
        margin-top: 30px;
        font-size: 1.2em;
        width: 50%;
    }

    .coinbody__container-history {
        font-size: 1em;
        right: 0;
        top: 15%;
    }

}

/* Small Screens/Mobile */
@media screen and (max-width: 550px) {

        /* left */
.coinbody__container-left_current {

}

.coinbody__container-left_current h3 {

}

.coinbody__container-left_btn{

}

/* center */

.coinbody__container-center_coin-button img{
    width: 250px;
    height: 250px;
    
}

.coinbody__container-center_coin div {
    font-size: .9em;
}

.coinbody__container-center_text {
    font-size: .9em;
}


/* right */
.coinbody__container-right h3 {
    font-size: 1.1em;
    
}

.coinbody__container-history {
    font-size: 1em;
}

.coinbody__outcome  {
    font-size: 1.2em;
}

}

/* phones */
@media screen and (max-width: 450px) {

    .coinbody__container {
        margin: 10px;
    }



    /* left */
    .coinbody__container-left_current {
        width: 65%;
        font-size: .8em;
        margin-bottom: 18px;
        min-height: 50px;
        padding: 4px 0px;
    }

    .coinbody__container-left_current-item {
        padding: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .coinbody__container-left_current-item h3 {
        padding-left: 0px;
    }

    .coinbody__container-left_btn{
        font-size: .8em;
        height: 48px;
    }


    .coinbody__container-history {


    padding: 12px;

    font-size: .8em;
}

.coinbody__container-history_text {
    padding-right: 4px;
}


/* center */

    .coinbody__container-center_coin div{
        font-size: .6em;
        margin: 0px;
        margin-bottom: 8px;
    }

    /* right */
    .coinbody__container-right h3 {
        font-size: .8em;
        width: 55%;
        padding: 10px;
    }

}