.header__container {
    display: flex;
    justify-content: center;
    border: 2px solid black;

    margin-right: 10vw;
    margin-left: 10vw;
    background-color: aliceblue;
    background-color: rgb(229, 223, 223);
    background-color: rgb(242, 231, 231);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: url('../../../assets/cardboard.png');
}

.header__container-title {
    margin: 10px 0px;
    font-size: 48px;
    text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
}



/* Medium Size laptops  */
@media screen and (max-width: 1200px) {
    .header__container-title {
        margin: 5px 0px;
        font-size: 36px;
    }
}




/* Smaller laptop/large tablet */

/* decrease the font size and possibly padding */
@media screen and (max-width: 980px) {
    

    .header__container-title {
        margin: 5px 0px;
        font-size: 36px;

    }
}


/* tablet */
@media screen and (max-width: 768px) {

    .header__container-title {
        margin: 0px;
        font-size: 28px;

    }
}


/* small phones */
@media screen and (max-width: 450px) {
    .header__container-title {
        font-size: 18px;
        font-weight: 800;
        padding: 4px 0px;
        margin-bottom: 0px;
    }
}