.logbody__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    flex: 1;

    height: 80vh;
    margin: 10px 10vw 10px 10vw;


    background-color: rgb(251, 221, 184);
    
    background-image: url('../../../assets/wood3dbrev.jpg');

    border: 2px solid black;
    border-radius: 25px;
    overflow-y: auto;

}

.logbody__container-history {
    position: absolute;
    left: 0;
    bottom: 5%;

    display: flex;
    
    justify-content: center;
    align-items: center;


    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    color: #fff;

    padding: 12px;;

    font-size: 1.5em;

    cursor: pointer;
}

.logbody__container-history_text {
    padding-left: 12px;
}

.logbody_container-logs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* flex-direction: row; */
}

.card {
    display: inline-flex;
    flex-direction: column;
    /* flex: 1; */
    margin: 10px;
    padding: 10px;
    /* flex: 1;; */

    font-weight: 800;

    max-height: 200px;

    background-color: rgb(251, 221, 184);
    background-image: url('../../../assets/cardboard.png');

    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
    box-shadow: -3px 2px 15px 1px rgba(0,0,0,0.8);

}



/* larger screens */
@media screen and (max-width: 1500px) {
    
    .logbody__container-history {
        font-size: 1.2em;
        bottom: 2%;
    }

        .logbody__container-history_text {
        font-size: .8em;
        padding: 0px 0px 0px 4px;
    }
}

/* smaller laptops and tablets */
@media screen and (max-width: 1090px) {
    
    .logbody__container-history {

            left: 0;
            bottom: 1%;
            border-radius: 25px;
    }
    
    .logbody__container-history_text {
        font-size: .8em;
        padding: 0px 0px 0px 4px;
    }

        .card {
        font-size: .9em;
        margin: 0px 10px 10px 10px;
    }

}

@media screen and (max-width: 768px) {

    .logbody_container-logs {

    }

    .card {
        font-size: .8em;
        margin: 0px 10px;
    }

    .logbody__container-history {

            left: 0;
            bottom: .9%;
            border-radius: 25px;
            padding: 4px;
    }
    
    .logbody__container-history_text {
        font-size: .65em;
        padding: 0px 0px 0px 4px;
    }
}

@media screen and (max-width: 620px) {

    .logbody_container-logs {
        margin-top: 40px;
        /* border-top: 2px solid black; */
    }
    
    .card {
        font-size: .7em;
        margin: 0px 10px;
    }

    .logbody__container-history {
        left: 0;
        bottom: 94%;
        border-radius: 25px;
        
        padding: 4px;
    }
    
    .logbody__container-history_text {
        font-size: .5em;
        padding: 0px 0px 0px 4px;
    }

}

@media screen and (max-width: 550px) {

    /* .logbody_container-logs:last-child {
        padding-bottom: 20px;
        margin-bottom: 60px;
    } */

    /* .logbody_container-logs_gap{
        margin: 20px 0px;
    } */

    .logbody_container-logs {
        margin-top: 60px;
        /* border-top: 2px solid black; */
    }

    .card {
        font-size: .7em;
        margin: 10px;
    }

    .logbody__container-history {
        left: 0;
        bottom: 96%;
        border-radius: 25px;
        
        padding: 4px;
    }
    
    .logbody__container-history_text {
        font-size: .5em;
        padding: 0px 0px 0px 4px;
    }
}