.footer__container {
    height: 7vh;
    /* width: 100vw; */
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10vw;
    margin-left: 10vw;
    border: 2px solid black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
        background-color: rgb(229, 223, 223);
            background-color: rgb(242, 231, 231);
        background-image: url('../../../assets/cardboard.png');
}

.footer__container-copyright{
    font-size: 1.25em;
    text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
    margin-left: 20px;
}

.footer__container-social{
    display: flex;
}

.footer__container-social_icon {
    margin-right: 20px;

}

.footer__container-social_icon-icon {
    height: 36px;
    width: 36px;
    object-fit: contain;
}



/* START: Small screen*/
@media screen and (max-width: 550px) {
    .footer__container-copyright {
        font-size: 1em;
        margin-left: 10px;
    }

    .footer__container-social_icon {
        margin-right: 10px;
    }

    .footer__container-social_icon-icon {
        height: 28px;
        width: 28px;
    }
}

/* END: Small screen */