.footer__container {
    height: 7vh;
    /* width: 100vw; */
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 10vw;
    margin-left: 10vw;



    border: 2px solid black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(229, 223, 223);
    background-color: rgb(242, 231, 231);
    background-image: url('../../../assets/cardboard.png');
}

.footer__container-copyright{
    font-size: 1.25em;
    text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.794);
    margin-left: 20px;
    padding-top: 2px;

}

.footer__container-social{
    display: flex;
      padding-top: 2px;
}

.footer__container-social_icon {
    margin-right: 20px;

}

.footer__container-social_icon-icon {
    height: 36px;
    width: 36px;
    object-fit: contain;
    text-decoration: none;
    color: black;
}

.footer__container-social_icon-icon a:visited{
    color: inherit;
}



/* Medium Size laptops  */
@media screen and (max-width: 1200px) {
    
    .footer__container-copyright {
        font-size: 1.1em;
    }

    .footer__container-social_icon-icon {
        height: 32px;
        width: 32px;
    }
}


/* Smaller laptop/large tablet */

/* decrease the font size and possibly padding */
@media screen and (max-width: 980px) {
      .footer__container-copyright {
        font-size: 1em;
    }

    .footer__container-social_icon-icon {
        height: 28px;
        width: 28px;
    }
}


/* START: Small screen*/
@media screen and (max-width: 550px) {
    .footer__container-copyright {
        font-size: 1em;
        margin-left: 10px;
    }

    .footer__container-social_icon {
        margin-right: 10px;
    }

    .footer__container-social_icon-icon {
        height: 28px;
        width: 28px;
    }
}

/* END: Small screen */


/* tablet */

@media screen and (max-width: 768px) {

    .footer__container-copyright {
        font-size: .8em;
                font-weight: 500;
    }

    .footer__container-social_icon {

    }

    .footer__container-social_icon-icon {
        height: 28px;
        width: 28px;
        margin-right: 6px;
    }

        .footer__container-social_icon-icon a {
            padding: 0px 10px;
        }

}

/* small phones */
@media screen and (max-width: 450px) {
    .footer__container {
        height: 5.5vh;
    }

    .footer__container-copyright {
        font-size: .78em;
        font-weight: 500;
        padding-top: 0px;
    }

    .footer__container-social_icon-icon {
        height: 28px;
        width: 28px;
        margin-right: 0px;
        padding-top: 0px;
    }
}