.betmodal__container{
    position: absolute;
    top: 35%;
    left: 38%;
    
    width: 25%;
 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 2rem;

    background-color: rgb(251, 221, 184);
    background-image: url('../../../assets/cardboard.png');

    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: -6px 2px 9px 1px rgba(0,0,0,0.8); 
    box-shadow: -3px 2px 15px 1px rgba(0,0,0,0.8);

    padding: 10px 0px 20px 0px;;
}


.betmodal__container-title {
    padding-bottom: 20px;
}

.betmodal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.betmodal__container-bet {
    max-width: 25%;
    height: 36px;
    font-size: .6em;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.betmodal__container-icons {
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 20px 0px;

   
}

.betmodal__container-icons div {
    display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
}

.betmodal__container-icons input{
    padding: 10px 20px;
    display: flex;

}

.betmodal__container-btn {
    font-size: 1.5rem;
    padding: 8px;
}


/* tablets */
@media screen and (max-width: 768px) {

    .betmodal__container-title {
        padding-bottom: 8px;
    }
    
    .betmodal__container{
        width: 50%;
        transform: translateX(-25%);
        font-size: 1.5em;
    }

    .betmodal__container-bet {
    max-width: 25%;
    height: 28px;
    font-size: .6em;
    }

    .betmodal__container-icons {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0px 10px 0px;
    }

    .betmodal__container-btn {
        font-size: 1rem;
        padding: 6px;
    }

}



/* phones */
@media screen and (max-width: 450px) {

    .betmodal__container-title {
       font-size: .8em;
    }

}